# Archivos del sistema
.DS_Store
*.log
*.hprof

# Archivos del proyecto Android
*.iml
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.apk
*.ap_

# Carpeta del IDE
.idea/
*.iws
*.ipr

# Configuración específica de usuario
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Configuración de firma (si la usás)
*.keystore
